@import 'base';

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;

& h1 {
      font-size: 2rem;
      margin: 2rem;
  }

& ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      align-items: center;
      display: flex;
      flex-direction: column;

  }

& button {
      text-decoration: none;
      color: $header-color;
      font-size: 1.5rem;
      padding: 0.7rem;
      text-align: center;
      margin: 2rem;
      background-color: $btn-background;
      cursor: pointer;

&:hover {
     background-color: $btn-background-hover;
 }
}
}
