@use 'base';
@use 'home';
@use 'about';
@use 'education';
@use 'technologies';
@use 'projects';
@use 'contacts';
@use "socialmedias";
@use "whoiam";

body {
  background-color: base.$background-color;
}

.container {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: base.$border-color 1px solid;
  padding: 1rem;

  @media (min-width: 590px) {
    &.left-side {
      max-width: 25rem;
    }
  }
}



