@import 'base';
@import 'home';
@import 'about';
@import 'education';
@import 'technologies';
@import 'projects';
@import 'contacts';


body {
  background-color: $background-color;
}

.container {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: $border-color 1px solid;
  padding: 1rem;

  @media (min-width: 590px) {
    &.left-side {
      max-width: 25rem;
    }
  }
}



