@import "base";

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  & a {
    margin: 0 10px;
    font-size: 2rem;
    color: $header-color;

    & img{
      color: $header-color;
      height: 2rem;
    }
  }
}



